html
    head
        title
        link(rel="stylesheet", href="bootstrap.min.css")
    body
    include includes/header.pug
    h1 welcome to tempelete engine pug...
    img(src="./sololeveling.jpg", width="100px")
    img(src="./luffy.jpg", width="100px")
    h1= students 
    ul 
        each student in students
            li= student  
    ul 
        each review,i in reviews 
            li 
                div= review.fullname
                img(src=review.image,class=["rounded","w-25"])
                button(class="btn btn-danger") 
                    a(href=`/deleteReview/${i}`) delete